* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-out;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 30px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: 1px solid rgb(78, 64, 64);
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(52, 47, 47);
  font-size: 20px;
  transition: 0.3s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px 25px;
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather, .welcome-text {
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .weather {
  font-size: 45px;
}

.welcome-text {
  text-align: center;
  font-size: 30px;
  word-break: break-word;
}

.weather-box .humidity, .weather-box .wind {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

@media screen and (min-width: 576px) {
  .app {
    background-image: url('./assets/cold-bg-md.jpg');
  }
  
  .app.warm {
    background-image: url('./assets/warm-bg-md.jpg');
  }

  .search-box .search-bar {
    width: 575px;
    margin: 0 auto;
  }

  .welcome-text {
    font-size: 45px;
  }
}